<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<!-- JDBC参数配置 -->
	<bean id="props" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		  lazy-init="true">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
		<property name="ignoreResourceNotFound" value="true"/>
		<property name="ignoreUnresolvablePlaceholders" value="true"/>
		<property name="locations">
			<list>
				<value>classpath:dev/db_v3.properties</value>
				<value>classpath:dev/mq_v3.properties</value>
			</list>
		</property>
	</bean>

	<!--加载数据库配置-->
	<import resource="classpath:dev/shardingRule.xml"/>

	<!-- 加载其他配置文件 -->
	<import resource="classpath:dev/spring-beans.xml"/>

</beans>